:root {
    --c-text: #E6E5EA;
    --c-button: #A4FFAF;
    --backg-main-top: #15141C;
    --backg-main-bottom: #08070C;
    --backg-cont: #24232B;
}
html {
    height: 100%;
    background: linear-gradient(var(--backg-main-top), var(--backg-main-bottom));
}
body {
    font-family: 'Roboto Mono', monospace;
    color: var(--c-text);
    padding: 25px 10px;
}
h1 {
    color: rgb(133, 133, 133);
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin: 20px 0;
}



/*PASSWORD--------------------------------*/
.container-new-passw {
    align-items: center;
    background-color: var(--backg-cont);color: #53525A;
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 15px 15px;
}
.container-new-passw button {
    border: none;
    background: none;
}
.container-new-passw img {
    width: 20px;
}

.copy-button img {
    vertical-align: middle;
}

.copy-message {
    color: var(--c-text);
    display: inline-block;
    font-family: 'Roboto Mono', monospace;
    margin: 0 20px 0 0;
}

.no-display {
    display: none;
}

/*PARAMETERS--------------------------------*/
/*-------Charcter Length*/
.container-parameters {
    background-color: var(--backg-cont);
    padding: 15px 15px;
}
.box-passw-length {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.box-passw-length h2 {
    margin:0;
    font-size: 16px;
}
.box-passw-length span {
    color: var(--c-button);
    font-size: 25px;
}
/*-------range input*/
.input-range {
    -webkit-appearance: none;
    background: #15141C;
    height: 8px;
    width: 100%;
}
.input-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 1rem;
}
/*-------checkboxes*/
.checkbox-wrap {
    padding: 25px 0;
}
.checkbox-container {
    align-items: center;
    display: flex;
}
.checkbox-container input {
    margin-right: 25px;
}
/*
.checkbox-container input {
    -webkit-appearance: none;
    border: none;
    background-color: none;
    border: solid 2px #E6E5EA;
    height: 20px;
    margin-right: 15px;
    width: 20px
}
*/

/*-------strength*/
.strength-container {
    align-items: center;
    background-color: var(--backg-main-bottom);
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 15px 10px;
}

.strength-container h3 {
    color:#53525A;
    font-size: 16px;
    margin: 0;
}

.strength-container strong {
    color:#ffffff;
    font-size: 18px;
    margin: 0;
}

.strenght {
    display: flex;
    justify-content: space-between;
    width: 150px;
}

.strenght-box {
    display: flex;
    gap: 8px
}

.strenght-pow {
    border: 2px solid #ffffff;
    height: 22px;
    width: 6px;
}

#button-generate {
    align-items: center;
    background-color: #A4FFAF;
    border: none;
    display: flex;
    justify-content: center;
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
    font-size: 20px;
    margin-top: 15px;
    padding: 15px 0; 
    width: 100%;
}

#button-generate img {
    margin-top: 3px;
    margin-left: 15px;
    width: 15px;
}

@media (min-width: 768px) {
    h1 {
        font-size: 20px;
    }
}